#container
{
  border: solid 1px white;
  width: 100%;
  margin: 1em auto;
  display: flex;
  flex-flow: column nowrap;
  height: 400px;
}

.screen
{
  border: solid 1px black;
  height: 400px;
  display: none;
}
